<%- include('../partials/header', {
    title: `beer.name 's Beer Show Page`
}) %>

    <main>
        <h1><%= beer.name %>'s Beer Show Page</h1>

        <p>
        <%= beer.name %> is a <%= beer.style %> style beer.<br>
        <%= beer.name %> is served at <%= beer.bars %>.<br>
        People say it's <%= beer.comments %>.
        </p>

        <form action="/beers/<%= beer._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete <%= beer.name %></button>
        </form>
        <a href="/beers/<%= beer._id %>/edit"><%= beer.name %>'s Edit Page</a><br>
        <a href="/beers">Beers Index Page</a><br>
    </main>

<%- include('../partials/footer') %>